body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

a {
  color: #11999e;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #66bfbf;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

hr {
  border: none;
  border-top-style: dotted;
  border-width: 8px;
  width: 5%;
  color: #eaf6f6;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 300px;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.cyber-security-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.iot-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.underline {
  text-decoration: underline;
}

.middle-container {
  line-height: 2;
}

.btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-width: 1px;
  padding: 10px;
  margin: 75px auto 75px auto;
  text-decoration: none;
  color: #fff;
  border-color: #84bbf3;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  text-shadow: inset 0px 1px 0px #528ecc;
  background: linear-gradient(rgba(102, 191, 191, 1), rgba(17, 153, 149, 1));
}

.btn:hover {
  background: linear-gradient(rgba(17, 153, 149, 1), rgba(102, 191, 191, 1));
}

.bottom-container {
  height: 150px;
  background-color: #66bfbf;
  padding: 10px auto 10px auto;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  margin: 40px 20px 40px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #11999e;
}

.copyright-text {
  color: #eaf6f6;
  font-size: 0.75rem;
}
